@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900;&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #095a55;
    color: #fff;
}
.service{
    padding: 100px 0;
    font-family: 'Popins',sans-serif;
}
.max-width{
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
    
}
.max-width h1{
    color: black;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    font-weight: bold;
    font-size: 40px;
    /* font-weight: 500; */
    margin-bottom: 60px;
    
    padding-bottom: 20px;
}
.max-width h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 48%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
    margin: 25px;
    

}
@keyframes animate{
0%{
    width: 100px;
}
50%{
    width: 200px;

}
100%{
    width: 100px;
}
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card{
    padding: 50px 25px;
    width: calc(26% - 20px);
    border-radius: 6px;
    background-color: #222;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px lightgray;
}
.card:hover{
    background-color: #dc143c;
}
.box{
    transition: all 0.3s ease;
}
.card:hover .box{
    transform: scale(1.05);
}
.box i{
    font-size: 50px;
    color: #dc143c;
    transition: color 0.3s ease;
}
.card:hover .box i{
 color: #fff;   
}
.box h3{
    font-size: 25px;
    padding: 10px 0 7px;
}
@media screen and (max-width: 1190px) {
    .max-width{
        padding: 0 25px;
    }
    .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    

}
@media screen and (max-width: 700px) {
.card{
    width: 100%;
}
}

